@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
/*--html{
    font-size: 16px;
}*/

/* --------Generic design------------*/
.flex{
    display: flex;
}
.flex-10{
   flex-shrink: 1;
   width: 10%;
}
.flex-20{
    flex-shrink: 1;
    width: 20%;
}
.flex-23{
    flex-shrink: 1;
    width: 23%;
}
.flex-30{
    flex-shrink: 1;
    width: 30%;
}
.flex-32{
    flex-shrink: 1;
    width: 32%;
}
.flex-40{
    flex-shrink: 1;
    width: 40%;
}
.flex-45{
    flex-shrink: 1;
    width: 45%;
}
.flex-49{
    flex-shrink: 1;
    width: 49%;
}
.flex-50{
    flex-shrink: 1;
    width: 50%;
}
.flex-70{
    flex-shrink: 1;
    width: 70%;
}
.flex-85{
    flex-shrink: 1;
    width: 85%;
}
.align-center{
    align-items: center;
}
.align-flexstart{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-spacebetween{
    justify-content: space-between;
}
.justify-spacearound{
    justify-content: space-around;
}
.flex-wrap{
    flex-wrap: wrap;
}
.full-width{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 1380px;
    margin: 0 auto;
    width: 100%;
    padding: 0 1.5%;
}

/*-----------Header--------------*/
.header{
    padding: 2rem 1.5%;
}
.header h1{
    font-size: 2rem;
    font-weight: 700;
    color: #635551;
}
.header li{
    margin-right: 2rem;
    color: #635551;
    font-weight: 300;
    
    font-size: 1.25rem;
}
.header a{
    color: #635551;
    text-decoration: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    display: bolck;
}
.dropdown-content2 {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    display: bolck;
}
.dd-1:hover .dropdown-content {
    display: block;
}
.dd-2:hover .dropdown-content2 {
    display: block;
}

/*-----------------Hero-------------*/
.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/hero-bg.jpg) center center no-repeat;
    height: 80vh;
}
.hero .wrapper{
    height: 100%;
}
.hero h2{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
}
.hero p{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 0;
}
.hero .content{
    width: 100%;
}
.switch{
    display: inline-block;
    background: #554845;
    border-radius: 2rem;
    padding: 1rem 2rem;
    position: relative;
}
.switch .circle{
    background: #E45233;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    position: absolute;
    left: 0;
    top: -.75rem;
    color: #ffffff;
}
.switch a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 5rem;
}

/*------------------------intent----------*/

.intent{
    position: relative;
}
.intent .wrapper{
    width: 100%;
    position: absolute;
    left: auto;
    top: -12rem;
}
.intent .core{
    padding: 2rem;
    background: #E45233;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 2px #444242;
}
.intent h3{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.intent .btn{
    text-align: center;
    margin: 2rem 0;
}
.intent .link{
    background: #E76F48;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    color: #ffffff;
}
.intent .vertical{
    background: #ffffff;
    border-radius: 8px;
    padding: 2rem;
    text-align: center;
    color: #646363;
    box-shadow: 1px 1px 1px 2px #e2e2e2;
}
.intent h4{
    font-size: 1.25rem;
    font-weight: 900;
    margin: 2rem 0;
}
.intent .icon{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #E45233;
    font-weight: 700;
}
/*-------------------About---------------------*/
.about{
    margin-top: 30rem;
    background: #FEF9F7;
    padding: 2rem 0;
}
.about .body{
    margin-bottom: 2rem;
}
.about .flex-wrapper{
    width: 100%;
}
.about .media{
    width: 45%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.about iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.about .content{
    color: #554945;
 }
 .about .heading{
     font-weight: 300;
 }
 .about .content h5{
     font-size: 1.5rem;
     font-weight: 700;
     margin: 2rem 0;
 }
.about-info{
    width: 100%;
    margin: 1rem 0;
}
.about-info i{
    color: #E45233;
    font-size: 1.5rem;
    border: 1px solid #E45233;
    background: #ffffff;
    padding: 2rem;
    border-radius: 50%;
}
.about-info h4{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #444242;
}
/*-----------------------Clientel----------------*/
.clients{
    padding: 2rem 0;
}
/*---------------------------Service-------------*/
.service{
    background: #FEF9F7;
    padding: 2rem 0;
}
.service h6{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #645753;
    margin: 2rem 0;
}
.service .body{
    text-align: center;
    margin-bottom: 3rem;
    color: #645753;
}
.service .flex-wrapper{
    margin: 4rem 0;
    width: 100%;
}
.service .service-content{
    text-align: center;
    position: relative;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px 4px #e2e2e2;
    padding: 2rem 1rem;
}
.service .icon{
    background: #E45233;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: absolute;
    left: 10rem;
    top: -2rem;
    font-size: 2rem;
    color: #FFFFFF;
}
.service .service-content h4{
    font-size: 1.5rem;
    font-weight: 500;
    color: #393F45;
    margin: 2rem 0;
}
.service-content p{
    color: #4F4E4E;
}

/*----------------Values-----------------------------*/
.values{
    padding: 2rem 0;
    margin: 3rem 0;
}
.values .flex-wrapper{
    flex-wrap: wrap;
}
.values .content-container{
    height: 35vh;
    box-sizing: border-box;
    position: relative;
    margin-top: 1.5rem;
    
}
.values .media{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -11;
}
.values img{
    border-radius: 8px;
}
.values .values-content{
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    margin: 1rem;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #e2e2e2;
    position: absolute;
    left: 0;
    bottom: 1rem;
}

.values h4{
    text-align: center;
    font-size: 1.5rem;
    color: #554945;
    font-weight: 700;
}
.values-content p{
    font-size: .75rem;
    color: #645753;
    margin: 1rem 0;
}
.values .button a{
    text-decoration: none;
    color: #645753;
}
/*-------------------------------------------------Testimonial-----------------------------*/
.testimonial{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/testimonials-bg.jpg) center center no-repeat;
    padding: 2rem 0;
    color: #FFFFFF;
}
.testimonial .content{
    flex-direction: column;
    width: 100%;
}
.testimonial .media{
    width: 10rem;
    height: 10rem;
    margin: 2rem 0;
    
}
.testimonial img{
    border-radius: 50%;
    border: 8px solid #646363;
}
.testimonial .name{
    font-size: 2rem;
    font-weight: 700;
    
}
.testimonial .id{
    color: #9e9d9d;
    font-weight: 500;
}
.testimonial blockquote{
    font-size: 1.5rem;
    margin: 2rem 0;
}
.testimonial .icon{
    color: #93918E;
}
.testimonial .stripe{
    margin: 2rem 0;
    width: 15%;
}
.testimonial .circle{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: #93918E;
}
.testimonial .col{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: #E45233;
}
/*--------------------------------------------------Portfolio-----------------------------------------*/
.portfolio .content{
    flex-direction: column;
}
.portfolio h6{
    font-size: 2rem;
    font-weight: 700;
    color: #645753;
    margin: 2rem 0;
}
.portfolio p{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #645753;
    margin: 2rem 0;
}
.portfolio .category{
    width: 20%;
    margin: 2rem 0;
}
.portfolio .btn{
    padding: .5rem 1rem;
    border-radius: 2rem;
}
.portfolio .btn a{
    text-decoration: none;
    color: #383737;
    font-weight: 600;
}
.portfolio .tab{
    background: #FCF1EC;
}
.portfolio .tab a{
    color: #E55937;
}
.portfolio .flex-wrapper{
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2rem;
}
.portfolio .content-box{
    width: 32%;
    height: 35vh;
    position: relative;
    margin: 1rem 0;
}
.portfolio .media{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
}
.portfolio .flash-box{
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    width: 90%;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}
.content-box:hover .flash-box{
    z-index: 21;
}
/*----------------------------------------------Team-----------------------------*/
.team{
    background: #FEF9F7;
}
.team h6{
    font-size: 2rem;
    font-weight: 700;
    color: #645753;
    margin: 2rem 0;
    text-align: center;
}
.team p{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #645753;
    margin: 2rem 0;
}
.team .flex-wrapper{
    width: 100%;
}
.team .article h5{
    text-align: center;
    font-size: 1.5rem;
    color: #554845;
    margin-top: 1rem;
    font-weight: 700;
}
.team .article p{
    margin: 0;
    font-size: .75rem;
    margin-bottom: 1rem;
}
.team .profile-container{
    width: 100%;
    position: relative;
    height: 35vh;
}
.team .media{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.team .social{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: .5rem 0;
    z-index: -11;
}
.team .social a{
    margin-right: 1rem;
    color: #2e2b26;
    text-decoration: none;
}
.profile-container:hover .social{
    z-index: 11;
}
/*--------------------------------------------------------------------------Pricing--------------------------------------*/
.pricing{
    margin: 3rem 0;
}
.pricing h6{
    font-size: 2rem;
    font-weight: 700;
    color: #645753;
    margin: 2rem 0;
    text-align: center;
}
.pricing p{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #645753;
    margin: 2rem 0;
}
.pricing .flex-wrapper{
    width: 100%;
    margin: 2rem 0;
}
.pricing .packages{
    box-shadow: 1px 1px 4px 4px #e2e2e2;
}

.pricing .heading{
    background-color: #F8F8F8;
    width: 100%;
    padding: .25rem 0;
}
.pricing .heading p{
    color: #6C6A6A;
}
.pricing .color{
    background-color: #E45233;
    color: #FFFFFF;
}
.pricing .color p{
    color: #FFFFFF;
}
.pricing .content h5{
    text-align: center;
    color: #C5C5C5;
    margin: 1rem 0;
}
.pricing .content .col{
    color: #E45233;
    font-size: 2rem;
    font-weight: 700;
}
.pricing .content p{
    margin: .5rem 0;
    font-weight: 300;
}
.pricing .content .faded{
    color: #C5C5C5;
}
.pricing .footer{
    background-color: #F8F8F8;
}
.pricing .footer .btn{
    display: inline-block;
    padding: .5rem 2rem;
    background-color: #E45233;
    margin: 1rem 0;
    border-radius: .25rem;
}
.pricing .footer .btn a{
    text-decoration: none;
    color: #FFFFFF;
}
/*-------------------------------------------------------------------------------------------------------------FAQ---------------------------------------------------------------------------------------------------*/
.faq{
    background: #FEF9F7;
    padding: 3rem 0;
}
.faq h6{
    font-size: 2rem;
    font-weight: 700;
    color: #645753;
    margin: 2rem 0;
    text-align: center;
}
.faq .heading{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #645753;
    margin: 2rem 0;
}
.faq .flex-wrapper{
    flex-direction: column;
}
.faq .question{
    width: 80%;
    padding: 1rem;
    background: #FFFFFF;
    margin: 1rem 0;
}
.faq .col{
    color: #E45233;
}
.faq .fa-question-circle{
    color: #f0a588;
    margin-right: .5rem;
}
/*---------------------------------------------------------------------------------------------------------------Contact----------------------------------------------------------*/
.contact{
    flex-direction: column;
}
.contact h6{
    font-size: 2rem;
    font-weight: 700;
    color: #645753;
    margin: 2rem 0;
    text-align: center;
}
.contact .heading{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #645753;
    margin: 2rem 0;
}
.contact .flex-wrapper{
    width: 80%;
    margin-bottom: 2rem;
}
.contact .address{
    padding: 1rem;
    box-shadow: 5px 5px 12px 12px #e2e2e2;
}
.contact .icon{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px dashed #E45233;
    color: #E45233;
    margin-right: .5rem;
}
.contact h5{
    color: #656262;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
.contact .address p{
    font-weight: 300;
    color: #656262;
}
.contact .form{
    width: 80%;
    padding: 1rem;
    box-shadow: 5px 5px 12px 12px #e2e2e2;
}
.contact .input{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem;
    border: #7F878E .5px solid;
    color: #7F878E;
}
.contact .name{
    width: 100%;
}
.contact .textarea{
    height: 10rem;
}
.contact .message{
    text-align: center;
    margin: 2rem 0;
}
.contact .btn{
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: #E45233;
    color: #FFFFFF;
}
/*-----------------------------------------------------------------------------------------------------------Quicklink-------------------------------------------------------------------------------------------------------------------------*/
.quicklink{
    background-color: #FEF9F7;
    margin-top: 2rem;
    padding: 3rem 0;
    color: #313030;
}
.link-wrapper{
    width: 60%;
}
.quicklink h1{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    
}
.quicklink .street{
    margin-bottom: 1rem;
}
.quicklink strong{
    font-weight: 700;
    font-size: 1.25rem;
}
.quicklink .nav{
    margin: 1rem .25rem;
    color: #E45233;
    font-weight: 300;
}
.quicklink .nav a{
    text-decoration: none;
    color: #313030;
    margin-left: .5rem;
}
.quicklink .content{
    margin: 2rem 0;
    color: #313030;
    font-weight: 300;
}
.quicklink .subscribe{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 50px;
}
.quicklink .input{
    border: none;
}
.quicklink .btn{
    padding: 1rem 2rem;
    background-color: #E55937;
    border-radius: 50px;
    text-decoration: none;
    color: #FFFFFF;
}
/*---------------------------------------------------------------------------------------Footer-----------------------------------------------------------------------------------------*/
footer{
    margin: 1rem auto;
    color: #313030;
    border-right: .5rem solid #E45233;
}
.footer strong{
    font-weight: 700;
}
.footer .col{
    color: #E55937;
}
.footer .icon{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #E55937;
    margin-left: 1rem;
}
.footer a{
    color: #FFFFFF;
}
/*------------------------------------------------------------------------------------------------------Blog-hero------------------------------------*/
.blog-hero{
    background-color: #F4F2F2;
    padding: 1rem 0;
    margin-bottom: 2rem;
}
.blog-hero a{
    text-decoration: none;
    color: #313030;
}
.blog-hero .col{
    color: #E55937;
}
.blog-hero h2{
    font-size: 2rem;
    font-weight: 500;
}
/*----------------------------------------------------------------------------------------------------------------Blog-post------------------------------------------------------------------------------------------------------------------------------*/
.blog-post{
    flex-wrap: wrap;
}
.blog-post .article{
    width: 32%;
    margin-bottom: 4rem;
    box-shadow: 1px 1px 4px 4px #e2e2e2;
}
.blog-post .media{
    width: 100%;
}
.blog-post .content{
    padding: 1rem;
}
.blog-post .content h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #313030;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.blog-post .faded{
    font-weight: 300;
    color: #8b8989;
}
.blog-post span{
    margin-right: 2rem;
}
.blog-post .content p{
    color: #313030;
    margin: 1rem 0;
}
.blog-post .btn{
    text-align: right;
    margin-bottom: 1rem;
}
.blog-post .btn a{
    padding: .75rem 1.5rem;
    background-color: #E55937;
    text-decoration: none;
    color: #FFFFFF;
}
/*--------------------------------------------------------------------Blog-Pages--------------------------------------------------------------------------------------------------*/
.pages{
    padding:  1% 1.5%;
}
.pages .page-nav{
    border: solid 1px #e2e2e2;
    margin-right: 1.5rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    color: #646363;
}
.pages .col{
    border: none;
    background-color: #E45233;
    color: #FFFFFF;
}
/*-----------------------------------------------------------------------Media-query-------------------------------------------------------*/
@media screen and (max-width: 1200px){
    .container{
        max-width: 1140px;
        width: 100%;
    }
    .switch{
        width: 24%;
    }
}
@media screen and (max-width: 992px){
    html{
        font-size: 14px;
    }
    .container{
        max-width: 960px;
        width: 100%;
    }
    .switch{
        width: 26%;
    }
}
@media screen and (max-width: 768px){
    section{
        margin-right: 0;
    }
    html{
        font-size: 12px;
    }
    .container{
        max-width: 720px;
        width: 100%;
    }
    .flex-wrap{
        flex-wrap: wrap;
    }
    .width-100{
        width: 100%;
    }
    .width-49{
        width: 49%;
    }
}
@media screen and (max-width: 576px){
    html{
        font-size: 10px;
    }
    .container{
        max-width: 540px;
    }
    .switch{
        width: 30%;
    }
}